:root {
  --hover-color: rgb(255, 217, 0);
  --input-color: rgb(89, 104, 134);
  --header-color: rgb(54, 61, 71);
  --sword-cursor: url("assets/sword.cur"), auto;
  --placeholder-color: rgba(255, 255, 255, 0.6);
  --focus-color: rgb(173, 161, 26);
  --navIcon-color: #018cbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(36, 42, 54); Use this if you get issues with the image*/
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* darkens the background */
  z-index: 0;
}
