.dropdownContainer {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdownButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 0 0 0 0;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}

.dropdownButton:hover {
  background-color: var(--focus-color);
}

.dropdownMenu {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--input-color);
  border-radius: 5px 5px 5px 5px;
  width: 170px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  outline: none;
  border: none;
  font-size: 1.2rem;
  user-select: none;
}

.dropdownMenu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--input-color) transparent;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
}

.linkHover {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 5px 5px 5px 5px;
}

.linkHover:hover {
  border-radius: 5px;
  width: 100%;
  background-color: gold;
  cursor: pointer;
}

.icon {
  width: 50px;
  height: auto;
}

.regionName {
  margin-left: 8px;
  color: black;
}

/* Media Queries */

@media (max-width: 1200px) {
  .icon {
    width: 46px;
  }
  .dropdownMenu {
    top: 127%;
    font-size: 1.1rem;
  }
}

@media (max-width: 1030px) {
  .icon {
    width: 43px;
  }
  .dropdownMenu {
    top: 130%;
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  .dropdownContainer {
    margin-top: 0;
    margin-right: -90px;
  }
  .icon {
    display: 43px;
  }

  .linkHover:hover {
    background-color: transparent;
  }

  .option:hover {
    background-color: gold;
    cursor: pointer;
  }

  .dropdownMenu {
    width: 130px;
    top: 110%;
    left: 3%;
    border-radius: 0 0 0 5px;
  }
  .dropdownMenu > :first-child:hover {
    border-radius: 0 0 0 0;
  }

  .dropdownMenu > :last-child:hover {
    border-radius: 0 0 0 5px;
  }
  .dropdownMenu::before {
    display: none;
  }
}
