.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100px;
  background-color: rgba(54, 61, 71, 0.8);
  border-radius: 50px;
  position: relative;
  padding: 0 90px;
  margin: 16px auto 0 auto;
  max-width: 1850px;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightGroup nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 100px;
  height: auto;
}

.taglines {
  font-size: 2.2rem;
  color: white;
  cursor: var(--sword-cursor);
  user-select: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 2);
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navElements {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.navElements a {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}

.navElements a:hover {
  color: var(--hover-color);
}

.navElements a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 0%;
  height: 3px;
  background-color: var(--hover-color);
  transition: width 0.3s ease-in-out;
}

.navElements a:hover::after {
  width: 100%;
}

.navIcon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

/* Media Queries */

@media (max-width: 1200px) {
  .taglines {
    font-size: 1.9rem;
  }
  .logo {
    width: 90px;
  }
  .navElements a {
    font-size: 1.7rem;
  }
  .navElements a:hover::after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .taglines {
    font-size: 1.6rem;
  }
  .logo {
    width: 80px;
  }
  .navElements a {
    font-size: 1.7rem;
  }
}

@media (max-width: 1030px) {
  .taglines {
    font-size: 1.4rem;
  }
  .logo {
    width: 70px;
  }
  .navElements a {
    font-size: 1.4rem;
  }
}

@media (max-width: 870px) {
  .container {
    height: 70px;
    border-radius: 0;
    margin-top: 0;
  }
  .taglines {
    display: none;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navElements a {
    display: none;
  }
}
