.container {
  flex-direction: column;
  position: relative;
  display: none;
  margin-left: -110px;
}

.hamburgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background: transparent;
  border: none;
  border-radius: 0 0 0 0;
}

.hamburgerButton:hover {
  background-color: var(--focus-color);
}

.hamburgerIcon {
  width: 43px;
  height: auto;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  left: 0%;
  background-color: var(--input-color);
  border-radius: 0 0 5px 0;
  width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  outline: none;
  border: none;
  font-size: 1rem;
  user-select: none;
}

.dropdownMenu > :last-child:hover {
  border-radius: 0 0 5px 0;
}

.option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option:hover {
  background-color: gold;
}

.link {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.icon {
  width: 50px;
  height: 50px;
}

.listIcon {
  width: 25px;
  height: auto;
}

/* Media Queries */

@media (max-width: 870px) {
  .container {
    display: flex;
  }
}
